@use '../utils/variables';

.drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 300px;
    margin: 25px 0;
    padding: 20px;

    & p {
        margin-bottom: 30px;
        color: variables.$color-fuente-1;
    }

    &-button {
        display: inline-block;
        padding: 10px;
        background: #ccc;
        cursor: pointer;
        border-radius: 5px;
        border-radius: 1px solid #ccc;
    }

    & #lbl-foto {
        display: none;
    }

    &-image img {
        width: 150px;
        margin-top: 10px;
        margin-right: 10px;
        vertical-align: middle;
    }
}