@use '../utils/variables';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Bebas+Neue&family=Fira+Sans:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300;500&display=swap');


table.tabla-alta {
    border-collapse: collapse;
    width: 95%;
    margin: 1rem auto;

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
}